{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/psycho/css/style.css') }}">
    <style>
        .btn-primary {
            background-color: #82bdb5 ;
            color: lightblue;
        }
        .card-img-top{
            margin-bottom: 25px;
        }
    </style>
{% endblock %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="card col-xs-offset-4 col-xs-4">
    <img class="card-img-top col-xs-offset-2" src="{{ asset('bundles/psycho/img/Logo250.png') }}" alt="Card image cap">
    <div class="card-block">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="form-group row">
                <label for="username" class="col-xs-5 col-form-label">{{ 'Votre nom d\'utilisateur'|trans }}</label>
                <div class="col-xs-7">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
            </div>


            <div class="form-group row">
                <label for="password" class="col-xs-5 col-form-label">{{ 'Votre mot de passe'|trans }}</label>
                <div class="col-xs-7">
                    <input class="form-control" type="password" id="password" name="_password" required="required">
                </div>
            </div>

            <div class="col-xs-12">
                <input type="checkbox"  id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'se rappeller de moi'|trans }}</label>
                <button type="submit" class="btn btn-primary col-xs-offset-3" id="_submit" name="_submit" >{{ 'se connecter'|trans }}</button>

            </div>
        </form>
    </div>
</div>
