{% extends 'base.html.twig' %}

{% block body %}

    <tbody>
{% for psycho in psychos %}


    <!-- Début Nav Bar -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <!--<div class="container">-->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li class="active"><a class="js-scrollTo" href="#page-home">Accueil <span class="sr-only">(current)</span></a></li>
                <li><a class="js-scrollTo" href="#Psychomotricité">La vache de ouf Psychomotricité</a></li>
                <li><a class="js-scrollTo" href="#psychomot">Les psychomotriciennes</a></li>
                <li><a class="js-scrollTo" href="#consultation">Interventions</a></li>
                <li><a class="js-scrollTo" href="#page-contact">Contact</a></li>
                <li><a>{{ psycho.tel }}</a></li>
            </ul>
        </div>
    </nav>

<!-- Fin Nav Bar -->


<!--Accueil-->

    <div id="page-home">
        <div id="title">
            <hr/>
            <h1>CABINET DE PSYCHOMOTRICITE
                <br/><span class="home-adresse">38 rue Arnold Dolmetsch - 72000 Le Mans</span>
            </h1>
            <hr/>
        </div>
    </div>

<!--Fin Accueil-->



<!--Début Psychomotricité-->

    <div id="Psychomotricité">
        <div class="accordion1">
            <ul>
                <li>
                    <div>
                        <a href="#Psychomotricité">
                            <!-- <img src="http://www.designchemical.com/lab/jquery/demo/images/section_1.png"></img>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
                            <div>
                                <h2 class="psyco_titre1"> {{ psycho.titledef }}</h2>
                                <img class="psyco_img1" src="{{asset('bundles/psychomot/img/2Psychomotricite.jpg')}}">
                                <p class="psyco_texte1"> {{ psycho.txtdef }} </p>
                            </div>
                            <div>
                                <!-- <img class="psyco_img1" src="./img/SAM_2242-500_375.JPG"> -->

                                <!-- <img class="psyco_img1" src="{{asset('bundles/psychomot/img/2Psychomotricite.jpg')}}"> -->
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#Psychomotricité">
                            <h2>{{ psycho.titleWho }}</h2>
                            <img class="psyco_img1" src="{{asset('bundles/psychomot/img/3Pourqui.jpg')}}">
                            <p>{{ psycho.txtWho }}</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#Psychomotricité">
                            <h2>{{ psycho.titleWhy }}</h2>
                            <img class="psyco_img1" src="{{asset('bundles/psychomot/img/4Pourquoi.jpg')}}">
                            <p>{{ psycho.txtWhy }}
                            </p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<!--Fin Psychomotricité-->




<!--Début Psychomotriciennes-->

    <div class="row">
        <div id="psychomot" class="fond">
            <div class="left col-xs-12 col-sm-6 col-md-6">
                <div class="col-xs-12">
                    <img src="{{asset('bundles/psycho/img/Psy2.jpg') }}" alt="Margaux Charrier" />
                    <div class="border">
                        <h3>{{ psycho.namePsy1 }}</h3>
                        <h5>Psychomotricienne diplomée</h5>
                        <p>{{ psycho.txtPsy1 }}</p>
                    </div>
                </div>
            </div>
            <div class="right col-xs-12 col-sm-6 col-md-6">
                <div class="col-xs-12">
                    <img src="{{asset('bundles/psycho/img/Psy1.jpg') }}" alt="Adeline Florentin" />
                    <div class="border">
                        <h3>{{ psycho.namePsy2 }}</h3>
                        <h5>Psychomotricienne diplomée</h5>
                        <p>{{ psycho.txtPsy2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Fin Psychomotriciennes-->




<!--Début Intervention-->

    <div class="row" id="consultation">
        <div class="accordion col-xs-12">
            <ul>
                <li>
                    <div>
                        <a>
                            <div class="row">
                                <div class="accordion col-xs-4">
                                    <h2>{{ psycho.titleConsult }}</h2>
                                    <p>{{ psycho.txtConsult }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a>
                            <div class="row">
                                <div class="accordion col-xs-4">
                                    <h2>{{ psycho.titleInterv }}</h2>
                                    <p>{{ psycho.txtInterv }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a>
                            <div class="row">
                                <div class="accordion col-xs-4">
                                    <h2>{{ psycho.titleBilan }}</h2>
                                    <p>{{ psycho.txtBilan }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<!--Fin Interventions-->



<!--Début Contact-->

<div class="row">
    <div id="page-contact">
        <div class="essai1 border col-xs-12 col-sm-5">
            <h3>Nous contacter</h3>
            <div class="adress">
                <p>{{ psycho.contactName }}</p>
                <p>{{ psycho.contactAddress }}</p>
                <p>{{ psycho.contactMail }}</p>
                <p>{{ psycho.contactTel }}</p>
            </div>
            {% endfor %}
            <form action="{{  path('psycho_mail') }}" method="post">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-3 col-form-label">Prénom :</label>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" value="ex : John" name="firstname" id="example-text-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-3 col-form-label">Nom :</label>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" value="ex : Doe" name="lastname" id="example-text-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-xs-3 col-form-label">Email :</label>
                    <div class="col-xs-9">
                        <input class="form-control" type="email" value="john.doe@free.fr" name="email" id="example-email-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-3 col-form-label">Objet :</label>
                    <div class="col-xs-9">
                        <input class="form-control" type="text" value="ex : Prise de rendez-vous" name="object" id="example-text-input">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="exampleTextarea" >Votre message :</label>
                    <textarea class="form-control" id="exampleTextarea" rows="10" name="message"></textarea>
                </div>
                <div class="col-xs-offset-5 col-xs-2 send">
                    <input type="submit" value="Envoyer" class="btn btn-succcess">
                </div>
            </form>
        </div>


        <div class="map col-xs-12 col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2668.900152456399!2d0.1456287153106367!3d48.015638879213896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e286137f09c6d3%3A0x2ebd30be841e5f73!2s38+Rue+Arnold+Dolmetsch%2C+72000+Le+Mans!5e0!3m2!1sfr!2sfr!4v1476182827751" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- Fin Contact -->

<br/>
<br/>
{#<img src="{{ app.request.basepath }}/uploads/{{ psychomot.image }}">#}




<!--<ul>
        <li>
            <a href="{{ path('psycho_new') }}">Create a new entry</a>
        </li>
    </ul>-->
{% endblock %}